<section class="main-content">
    <section class="main-story">
        <section class='col-1-3'> 
         <h1>WELCOME TO APP ACADEMY</h1>
         <ul>
            <li>anything</li>
         </ul>
        </section>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>

        <section class="opinion">
            <section class="opinion-sign-up">
                <p>jofoijaefoijefjokdlcokl</p> 
            </section>

            <a href="#">binkibhjnkm</a>
            
            <section class = "col-1-2">
                <p>hi</p>
            </section>

        </section>
    </section>
</section>