// Use the gear_dropdown.png screenshot as a style guide

.gear-dropdown {
    background-color: white;
    display: none;
    position: absolute;
    padding: 5px;
    right: 0px;
    width: 250px;
    border: 1px solid lightgray;
    z-index: 1;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);

    .editions {
        border-bottom: 1px solid $light-gray;
        font-family: sans-serif;

        li {
            padding: 5px;
        }

        a {
            color:$gray;
        }
        
        li:hover{
            background-color: $light-gray;
        }
    }

}
.dropdown-subtitle {
    color: $gray;
    font-size: 7px;
    padding: 5px;
    margin-top: 5px;
    
}
.help{
    font-size: 11px;

    li {
        color:$blue;
        padding: 5px;
        font-family: sans-serif;
    }

    a:hover{
        bottom: underline;
    }
}

#gear-dropdown-main-nav:hover .gear-dropdown{

    // .gear-dropdown{
        display: block;
    // }


}

#gear-dropdown-main-nav {
    padding: 10px;
    position: relative;
    
}




